ol{
   
  background: #D0D0D0;
  padding:40px;
  width:30%;
  text-align: center;
  list-style: decimal inside none;
  
}
li{
    text-align: left;
    padding:5px;
    border-bottom:1px solid black;
    padding:5px;
    margin:2px;
    font-size: 110%;
}
body{
    margin:10px;
    padding:10px;
    display: flex;
    justify-content: center;
    
}