@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

header {
    background: url("images/Layer-759_02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: auto;
}

nav ul {
    padding-left: 70px;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 0 75px 0 0
}

nav {
    background-color: #BA925E;
    width: 75%;
    height: 50px;
    text-align: center;
    margin: auto;
    padding: 12px;
    position: relative;
    top: 25px;
    opacity: 0.9;
}

.header-title {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
}

.header-p {
    text-align: center;
    color: white;
    font-size: 1rem;
    word-spacing: 5px;
}

.header-btn {
    display: block;
    margin: auto;
    background-color: #080820;
    text-transform: uppercase;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}

.header-btn p {
    margin: 0;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-btn i {
    font-size: 21px;
    padding-top: 10px;
    color: #BC9883;
    font-weight: 700;
    position: relative;
    top: 1px;
}

.header-btn:hover {
    color: black;
    cursor: pointer;
    background: #C79D63;
    font-weight: 700;
}

.white-section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
}

.travel-business-customer article {
    width: 30%;
    display: inline-block;
    padding: 21px;
    vertical-align: top;
    padding-bottom: 0;
}

.travel-business-customer {
    margin-left: 20px;
}

.financial-energy-surface article {
    width: 30%;
    display: inline-block;
    padding: 21px;
    vertical-align: top;
    padding-top: 0;
}

.financial-energy-surface {
    margin-left: 20px;
}

.travel-business-customer i {
    position: relative;
    right: 30px;
    top: 50px;
    font-size: 1.6rem;
    width: 32px;
    height: 32px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
}

.financial-energy-surface i {
    position: relative;
    right: 30px;
    top: 50px;
    font-size: 1.6rem;
    width: 32px;
    height: 32px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
}

.travel-business-customer:first-of-type h4 {
    margin-left: 30px;
}

.travel-business-customer:first-of-type i {
    top: 44px;
}

.travel-business-customer p {
    text-align: left;
    margin-left: 30px;
}

.financial-energy-surface p {
    text-align: left;
    margin-left: 30px;
}

.financial-energy-surface h4 {
    margin-left: 30px;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/steel-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 190px;
    opacity: 0.4;
}

.banner-p {
    margin: 0;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 64px;
}

.banner-p::first-line {
    color: orange;
}

.traders {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background-choose-us.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    height: 320px;
    color: white;
}

.traders-title {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}

.traders div {
    margin: auto;
    width: 80%;
    margin: 0;
    margin-left: 200px;
}

.traders article {
    display: inline-block;
    width: 25%;
    margin-left: 35px;
    border: 2px solid orange;
    vertical-align: top;
}

.traders article:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.trader-article-title {
    text-align: center;
    font-size: 1rem;
}

.traders-p {
    text-align: left;
    height: 80px;
    width: 200px;
    padding-left: 35px;
    padding-top: 3px;
}

.woman {
    background-image: url("images/consulting-woman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
}

.woman p {
    margin: 0;
    text-align: justify;
    width: 83%;
    padding-left: 40px;
    padding-top: 50px;
    font-weight: 800;
    line-height: 20px;
}

.woman-first-p::before {
    content: open-quote;
    color: #c79d63;
    font-size: 20px;
}

.woman-second-p::after {
    content: close-quote;
    color: #c79d63;
    font-size: 20px;
}

body>main>section.woman>article.woman-outter-article>p.woman-second-p {
    padding-top: 10px;
}

.woman-outter-article {
    background-color: #EBEAE6;
    width: 38%;
    height: 60%;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
    float: right;
    margin-left: 800px;
    margin-top: 43px;
}

.woman-nested-article {
    display: inline-block;
    height: 45%;
    width: 32%;
    background-color: black;
    color: white;
    position: relative;
    z-index: 2;
    top: 190px;
    left: 840px;
}

.woman-nested-article span {
    float: right;
    padding: 5px 10px 0 0;
    color: #5A5967;
}

.woman-nested-article h3 {
    padding: 10px 0 0 15px;
}

.logo-section ul {
    padding-left: 130px;
}

.logo-section ul li {
    display: inline-block;
    list-style: none;
    height: 96px;
    width: 180px;
}

.logo-section ul li a {
    display: inline-block;
    height: 96px;
    vertical-align: top;
}

.logo-section ul li a img {
    margin: auto;
}

.logo-section:nth-child(3) img {
    margin-top: 8px;
}

body>main>section.logo-section>ul>li:nth-child(4)>a>img {
    margin-top: 15px;
}

body>main>section.logo-section>ul>li:nth-child(6)>a>img {
    margin-top: 22px;
}

footer {
    height: 220px;
    background-color: black;
    color: white;
}

.left-title {
    margin-left: 50px;
    padding-top: 20px;
    font-size: 15px;
    ;
}

.left-article {
    width: 30%;
}

.left-article p {
    margin-left: 75px;
}

.left-article p i {
    font-size: 15px;
    margin-right: 3px;
}

.left-article ul {
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: 70px;
}

.left-article ul li {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
}

.left-article ul li a {
    text-decoration: none;
    background-color: #83838F;
    padding: 10px;
    font-size: 22px;
    border-radius: 50%;
    color: black;
}

.middle-section {
    position: relative;
    bottom: 220px;
    left: 575px;
    width: 30%;
}

.middle-section article {
    display: inline-block;
    vertical-align: top;
}

.middle-section article ul li {
    list-style: none;
}

.middle-section article ul li a {
    text-decoration: none;
    color: orange;
}

.middle-title {
    font-size: 16px;
    margin-top: 23px;
}

.left-ul {
    padding-left: 30px;
    ;
}

.left-ul li {
    padding: 3px;
    ;
}

.middle-right-article {
    margin-top: 53px;
}

.middle-right-article li {
    padding: 3px;
}

.right-section {
    position: relative;
    width: 20%;
    bottom: 422px;
    left: 1030px;
}

.right-upper-ul {
    margin-bottom: 0;
}

.right-down-ul {
    margin-top: 0;
}

.right-section ul li {
    display: inline-block;
}

.right-section ul li a img {
    width: 70px;
    height: 70px;
}

.right-title {
    font-size: 16px;
    padding-left: 20px;
}