nav ul{
    list-style-type: none;
    margin:0;
    padding: 20px;
    background-color:#004080;
    text-align: center;

}
nav ul li{
    display:inline;
}
li a{
color:white;
text-align: center;
padding: 20px;
text-decoration: none;
}