body {
    margin: auto;
    background-color: #602D75;
    width: 1200px;
}

main {
    width: 95%;
    height: 480px;
    margin: auto;
    background-color: #FFAE32;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 20px;
}

section {
    width: 100%;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-transform: capitalize;
    padding-top: 10px;
    margin-bottom: 10px;
}

article {
    display: inline-block;
    width: 25%;
    height: 390px;
    background-color: #5F2056;
    margin-right: 20px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

section:first-of-type article {
    margin-left: 58px;
}

img {
    display: block;
    margin: auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 5px;
}

.price {
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 7px;
    font-weight: bold;
}

.guarantee {
    color: #FEBE51;
    text-align: center;
    margin: 7px;
    font-size: 17px;
}

.made, .model, .number {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: 5px;
    padding-left: 25px;
}

button {
    color: #9B55FF;
    background-color: #FFFFFF;
    border: none;
    margin-top: 35px;
    text-align: center;
    padding: 5px 40px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 65px;
    border-radius: 20px;
    outline: none;
}