@media screen and (max-width: 740px) {
    #info h1, h3, small {
        text-align: center;
    }
    #profile h2 {
        text-align: center;
    }
    #info {
        width: 100%;
    }
    #profile p {
        text-align: left;
        padding: 0;
        width: 100%;
    }
    #wrapper>h2 {
        text-align: center;
    }
    #photo {
        float: none;
        width: 100%;
        text-align: center;
    }
    #skills-left h4 {
        text-align: left;
    }
    #skills-left ul li::before {
        content: '\2022';
        color: lightblue;
        font-size: 30px;
    }
    #skills-left ul {
        width: 100%;
    }
    #skills-left {
        width: 40%;
        float: left;
    }
    #skills-left ul li {
        display: block;
        text-align: left;
        padding-left: 0;
        padding-right: 30px;
        width: 100%;
    }
    #skills-right h4 {
        text-align: left;
    }
    #skills-right ul li::before {
        content: '\2022';
        color: lightblue;
        font-size: 30px;
    }
    #skills {
        width: 100%;
    }
    #skills-right ul li {
        display: block;
        text-align: left;
        padding: 0;
        width: 100%;
    }
    #skills-right {
        width: 40%;
        float: right;
    }
    #skills-right ul {
        width: 100%;
    }
    #education h2 {
        text-align: center;
    }
    #education p {
        padding: 0;
        text-align: left;
        width: 100%;
    }
    #experience h2 {
        text-align: center;
    }
    #experience p {
        padding: 0;
        text-align: left;
        width: 100%;
    }
    #articles h2 {
        text-align: center;
    }
    #articles p {
        padding: 0;
        text-align: left;
    }
}

@media screen and (max-width: 570px) {
    #info h1, h3, small {
        text-align: center;
    }
    #info h3 {
        width: 100%;
        font-size: 17px;
    }
    #profile h2 {
        text-align: center;
    }
    #info {
        width: 100%;
    }
    #profile p {
        text-align: left;
        padding: 0;
        width: 100%;
    }
    #wrapper>h2 {
        text-align: center;
    }
    #photo {
        float: none;
        width: 100%;
        text-align: center;
    }
    #skills-left h4 {
        text-align: left;
    }
    #skills-left ul li::before {
        content: '\2022';
        color: lightblue;
        font-size: 30px;
    }
    #skills-left, #skills-right {
        float: none;
    }
    #skills-left ul li {
        display: inline-block;
        text-align: left;
        padding-left: 0;
        padding-right: 30px;
        width: 100%;
    }
    #skills-left ul li:nth-child(7) {
        width: 45%;
    }
    #skills-right h4 {
        text-align: left;
    }
    #skills-right ul li::before {
        content: '\2022';
        color: lightblue;
        font-size: 30px;
    }
    #skills-right ul li {
        display: inline-block;
        text-align: left;
        padding-left: 0;
        padding-right: 30px;
        width: 100%;
    }
    #skills-right ul li:nth-child(2) {
        width: 45%;
    }
    #education h2 {
        text-align: center;
    }
    #education p {
        padding: 0;
        text-align: left;
        width: 100%;
    }
    #experience h2 {
        text-align: center;
    }
    #experience p {
        padding: 0;
        text-align: left;
        width: 100%;
    }
    #articles h2 {
        text-align: center;
    }
    #articles p {
        padding: 0;
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    #info h1, h3, small {
        text-align: center;
    }
    #profile h2 {
        text-align: center;
    }
    #info {
        width: 100%;
    }
    #photo {
        float: none;
        width: 100%;
        text-align: center;
    }
    #profile p {
        text-align: left;
        padding: 0;
        width: 100%;
    }
    #wrapper>h2 {
        text-align: center;
    }
    #skills-left h4 {
        text-align: left;
    }
    #skills-left ul li::before {
        content: '\2022';
        color: lightblue;
        font-size: 30px;
    }
    #skills-left {
        width: 100%;
    }
    #skills-left ul li {
        display: inline-block;
        text-align: left;
        padding-left: 0;
        padding-right: 30px;
        width: 30%;
    }
    #skills-left ul li:nth-child(7) {
        width: 45%;
    }
    #skills-right h4 {
        text-align: left;
    }
    #skills-right ul li::before {
        content: '\2022';
        color: lightblue;
        font-size: 30px;
    }
    #skills-right ul li {
        display: inline-block;
        text-align: left;
        padding-left: 0;
        padding-right: 30px;
        width: 25%;
    }
    #skills-right {
        width: 100%;
    }
    #skills-right ul li:nth-child(2) {
        width: 47%;
    }
    #education h2 {
        text-align: center;
    }
    #education p {
        padding: 0;
        text-align: left;
        width: 100%;
    }
    #experience h2 {
        text-align: center;
    }
    #experience p {
        padding: 0;
        text-align: left;
        width: 100%;
    }
    #articles h2 {
        text-align: center;
    }
    #articles p {
        padding: 0;
        text-align: left;
    }
}