nav ul li {
    display: inline;
   
}
a{
    text-decoration: none;
    color:green;
    text-align: center;
    padding: 15px;
    font-size: 110%;

    
}
nav ul{
    background-color:#C8C8C8;
    text-align:center;
    padding:20px;
    margin:10px;

}
a:hover{
    color:white;
    background-color: green;
}