@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("images/car-future.jpg");
    background-size: cover;
    height: 800px;
}

nav {
    float: right;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: bold;
}

nav ul li:last-child {
    margin-right: 20px;
}

nav ul li a:hover {
    color: #B38575;
    cursor: pointer;
}

header h1 {
    color: #B38575;
    text-transform: uppercase;
    font-size: 4.5rem;
    word-spacing: 8px;
    margin: 0;
    padding: 150px 0 0 20px;
    font-weight: 900;
}

main {
    margin-top: 40px;
}

article h2 {
    margin-left: 15px;
    color: #B38575;
    text-transform: uppercase;
}

article img {
    margin-left: 15px;
    width: 45%;
    height: 30%;
    float: left;
    margin-right: 15px;
}

article {
    margin-bottom: 20px;
    margin-top: 60px;
}

article p {
    font-size: 18px;
    color: #333333;
    margin: 0;
    padding: 20px;
    text-align: justify;
}

article p:first-letter {
    text-transform: uppercase;
    font-size: 32px;
    color: #b38575;
    font-weight: bold;
}

.content article:after {
    content: '';
    display: block;
    clear: both;
}

footer {
    text-align: center;
    background-color: #ccc;
}

footer span {
    color: #333333;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 1.2rem;
}