@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Anton);
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

form {
    width: 60%;
    height: 80%;
    margin: auto;
    margin-top: 107px;
}

form div.input-div h2 {
    font-family: 'Lato', sans-serif;
    width: 50%;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 25px;
}

form div.input-div h4 {
    padding-left: 31px;
    font-size: 18px;
}

form div {
    display: inline-block;
}

form div input, select {
    position: relative;
}

form img {
    width: 100%;
    height: 100%;
}

form div.photo {
    height: 400px;
    width: 40%;
    float: left;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #6afdc9 0%, #42c9ca 100%);
}

form div.input-div {
    height: 400px;
    width: 60%;
    box-shadow: 8px 7px 7px 7px#E8F5F5;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
}

form div.size-div {
    padding-left: 30px;
}

form div.size-div select, label {
    position: relative;
}

form div.submit-div input {
    top: 200px;
    right: 226px;
}

form div.card-number-div input {
    top: 160px;
    right: 51px;
    padding:5px;
}

form div.card-number-div label {
    top: 131px;
    left: 33px;
}

form div.card-name-div input {
    top: 111px;
    right: 206px;
    padding:5px;
}

form div.card-name-div input::placeholder {
    color: #42C9CA;
    padding-left: 7px;
    border-bottom: 3px solid #42C9CA
}

form div.card-number-div input::placeholder {
    color: #42C9CA;
    padding-left: 7px;
    border-bottom: 3px solid #42C9CA
}

form div.card-name-div label {
    top: 80px;
    right: 120px;
}

form div.size-div select {
    top: 39px;
    right: 75px;
    color: white;
    background-color: #42C9CA;
    outline: none;
    padding:3px;
}

form div.size-div label {
    top: 7px;
}

form div.submit-div input {
    color: #42C9CA;
    text-transform: uppercase;
    background-color: white;
    outline: none;
    padding: 5px 15px;
    border: none;
    border: 2px solid #42C9CA;
    border-radius: 20px;
}

form div.submit-div input:hover {
    cursor: pointer;
    color: white;
    background-color: #42C9CA;
}