form {
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

fieldset {
    height: 320px;
}

legend {
    font-size: 20px;
}

input, select, textarea {
    display: block;
    width: 200px;
    outline: none;
    padding: 3px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

input::placeholder, select {
    color: black;
}