@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
body {
    width: 1200px;
    margin: auto;
    height: 600px;
}

main {
    width: 80%;
    height: 550px;
    margin: auto;
}

article {
    width: 100%;
    height: 150px;
}

.second-art {
    margin-top: 20px;
}

img {
    width: 210px;
    height: 135px;
    float: left;
    border: 2px solid #F0EFEF;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 7px;
}

h1 {
    height: 50px;
    width: 100px;
    margin: 5px;
}

h5 {
    margin: 2px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    margin-bottom: 0;
}

h2, a {
    color: #72aeb4;
}

p {
    text-align: left;
    margin-bottom: 8px;
}

.second-p {
    margin-bottom: 27px;
}

main article:last-of-type img {
    margin-top: 5px;
}

main article:last-of-type h2 {
    padding-top: 6px;
}

.second-read {
    margin-top: 30px;
}